.drop-area {
    background-color: #b5b5b5;
    display: table;
    height: 70px;
    cursor: pointer;
    outline: 2px dashed #555;
    outline-offset: -5px;
    text-align: center;
    transition: outline-offset .1s ease-in-out, background-color .1s linear;
    width: 100%;
}

.drop-area-text {
    display: table-cell;
    font-family: var(--content-font-family);
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    vertical-align: middle;
}

.drop-area-text-input {
    color: #333;
}
.drop-area-active,
.drop-area:focus {
    background-color: #77bafa;
    color: #000;
    outline: 2px dashed #000;
    outline-offset: -10px;
}

.drop-area-active .drop-area-text-input {
    color: #000;
}