<div class="alert alert-dismissible fade show @AlertClass @DisplayClass" role="alert">
    @Message
    <button type="button" class="close" aria-label="Close" @onclick="Hide">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
