@page "/validation"
@inject IStringLocalizer<Validation> Localizer

<div class="page-title" role="heading">
    @Localizer["PageTitle"]
</div>

<section class="content-section">
    <DropZone Label="@Localizer["DropZoneLabel"]"
              OnFileDropped="@ValidateDroppedFile"
              AllowMultiple="false"/>
</section>
