@page "/validation"
@inject IStringLocalizer<Validation> Loc

<div class="page-title" role="heading">
    @Loc["PageTitle"]
</div>

<section class="content-section">
    <DropZone Label="@Loc["DropZoneLabel"]" />
</section>
